.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  /* animation: down 1.5s infinite; */
  /* -webkit-animation: down 1.5s infinite; */
}
.scroll::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 19.5px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
