*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: white;
  --background: #333;
  --animation-timming: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger::before,
.hamburger::after,
.hamburger input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  cursor: pointer;
  border-radius: 99999px;
  transition: opacity var(--animation-timming), width var(--animation-timming),
    translate var(--animation-timming), rotate var(--animation-timming),
    background-color var(--animation-timming);
  transform-origin: left;
}

.hamburger {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

.hamburger input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.hamburger:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 -2px;
}

.hamburger:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 2px;
}

.hamburger input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timming);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + 1.5rem);
  background-color: black;
  max-width: 10rem;
  min-height: 100vh;
  color: var(--foreground);
}

.hamburger:has(input:checked) + .sidebar{
  translate: 0%;
}
