*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 35px;
  --bar-height: 4px;
  --hamburger-gap: 2px;
  --foreground: white;
  --background: #333;
  --animation-timming: 200ms ease-in-out;
  --hamburger-height: calc(
    var(--bar-height) * 3 + var(--hamburger-gap) * 2 + 4px
  );
  --x-width: calc(var(--bar-width) * 1.477 - (var(--bar-width)) * 0.5);
}

.hamburger::before,
.hamburger::after,
.hamburger input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  cursor: pointer;
  border-radius: 99999px;
  transition: opacity var(--animation-timming), width var(--animation-timming),
    translate var(--animation-timming), rotate var(--animation-timming),
    background-color var(--animation-timming);
  transform-origin: left;
}

.hamburger input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.hamburger {
  cursor: pointer;
}

.hamburger:has(input:checked)::before {
  rotate: 45deg;
  /* opacity: 0; */
  width: var(--x-width);
}
.hamburger:has(input:checked)::after {
  rotate: -45deg;
  /* opacity: 0; */
  width: var(--x-width);
}
.hamburger:has(input:checked) input {
  opacity: 0;
  width: 0;
}

.btn{
    background-color: #6275D3;
    padding: 0.4rem 1rem;
    margin: 0.4rem 0;
    border-radius: 6px;
    width: 100%;
    
}

.btn:active{
  scale: 95%;
}
