* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(119, 11, 152);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999999;
  pointer-events: none;
}
